body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    position: relative;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.nav-items {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
}

.nav-item {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.nav-item:first-child::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 1px;
    background-color: #f0f0f0;
}

.nav-item:hover {
    background-color: #f0f0f0;
}

.map-container {
    text-align: center;
    padding: 20px 0;
    margin-right: -50px;
    margin-top: 60px;
}

.map-container img {
    max-width: 100%;
    height: auto;
    transform: translateX(50px);
    transform: translateY(40px);
}

.search-area {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
    transition: all 0.3s ease;
}

.search-box:hover,
.search-box:focus-within {
    border: 1px solid #4285f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-box input[type="text"] {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    border-right: 1px solid #dfe1e5;
    margin-right: 10px;
}

.search-box input[type="text"]::placeholder {
    color: #aab8c2;
}

.search-box .search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #5f6368;
    font-weight: bold;
    padding: 0 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.search-box .search-button:hover {
    color: #202124;
}