@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url("/static/images/BG1.jpg");
  min-height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
}

.container {
  position: relative;
  z-index: 2;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background: rgba(129, 126, 126, 0.5);
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 38px;
}

.nav-items {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.nav-item-container {
  position: relative;
}

.nav-item {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.nav-item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #6bb9ed;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-item:hover::before {
  width: 100%;
}

.nav-description {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.nav-item-container:hover .nav-description {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.logo {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.logo img:hover {
  transform: scale(1.1);
}

@media (max-width: 1920px) {
  .nav-item {
    padding: 15px 15px;
    font-size: 15px;
  }
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  animation: fadeIn 2s ease-in-out forwards;
  z-index: -1;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.background-image.active {
  opacity: 1;
}

.quote-container {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.quote {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}

.map-container {
  position: relative;
}

.rounded-box {
  position: fixed;
  top: 60%;
  left: 49.85%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 450px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(3px);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: -1;
}

#svg-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

.search-area {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
}

.search-box:hover,
.search-box:focus-within {
  border: 1px solid #4285f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-box input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  border-right: 1px solid #dfe1e5;
  margin-right: 10px;
}

.search-box input[type="text"]::placeholder {
  color: #aab8c2;
}

.search-box .search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #5f6368;
  font-weight: bold;
  padding: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-box .search-button:hover {
  color: #202124;
}
