@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-image: url("/static/images/BG1.jpg");
  min-height: 100vh;
  font-family: Arial, sans-serif;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity 2s ease-in-out;
}

.container {
  position: relative;
  z-index: 2;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
  flex-wrap: nowrap;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-item {
  font-size: 16px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px 220px;
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  white-space: nowrap;
  z-index: 9;
}

.nav-item:hover + .nav-description {
  display: block;
}

.logo img {
  height: 40px;
  padding-left: 30px;
  object-fit: contain;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/static/images/Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  animation: fadeIn 2s ease-in-out forwards;
  z-index: -1;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.background-image.active {
  opacity: 1;
}

.quote-container {
  position: relative;
  max-width: 70%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.quote {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: bold;
  animation: fadeIn 2s ease-in-out;
}

.map-container {
  display: none;
  text-align: center;
  padding: 20px 0;
  margin-top: 60px;
}

.search-area {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 50px;
  padding: 8px 15px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
}

.search-box:hover,
.search-box:focus-within {
  border: 1px solid #4285f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-box input[type="text"] {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 5px;
  border-right: 1px solid #dfe1e5;
  margin-right: 10px;
}

.search-box input[type="text"]::placeholder {
  color: #aab8c2;
}

.search-box .search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #5f6368;
  font-weight: bold;
  padding: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-box .search-button:hover {
  color: #202124;
}
