html, body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
  padding: 0;
  height: 100vh; /* 화면 전체 높이를 채움 */
  overflow: hidden;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column; /* 세로 정렬 */
  justify-content: top; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  background: url('/static/images/back.png') no-repeat center center;
  background-size: cover; /* 이미지 비율을 유지하면서 전체 화면 채움 */
  background-attachment: fixed;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
  flex-wrap: nowrap;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-item {
  font-size: 16px;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px 220px;
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-description {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  white-space: nowrap;
  z-index: 9;
}

.nav-item:hover + .nav-description {
  display: block;
}

.logo img {
  height: 40px;
  padding-left: 30px;
  object-fit: contain;
}

.title-box {
  background-color: rgba(0, 0, 0, 0.6); /* 배경에 반투명 색상 추가 */
  color: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px; /* 제목을 조금 내리기 */
}

h1 {
  font-size: 36px;
  margin: 0; /* 기본 마진 제거 */
}

.slot-container {
  display: flex;
  flex-direction: column; /* 이미지를 위에 배치 */
  margin-top : 100px;
  align-items: center;    /* 슬롯 머신을 중앙 정렬 */
  transform : scale(1.2);
}

.slot-roof {
  width: 480px;
  z-index : 1;
  top : 10px;
  display: block; /* 이미지를 블록 요소로 */
}

.slot-machine {
  width: 300px;
  height: 120px;
  overflow: hidden;
  position : relative;
  z-index : 2;
  border: 5px solid #e7f2aa;
  border-top: none; /* 상단 테두리 제거 */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #f1f1f1;
  margin-top : -10px;
  margin-bottom : 15px;
  margin-bottom: 0;
}

.slot-floor {
  width: 480px;
  margin-top : -15px;
  display: block; /* 이미지를 블록 요소로 */
}

.reel {
  position: relative;
  top: 0px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
  background-color: #e7f2aa;
}

.reel div {
  height: 100px;
  line-height: 100px;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap; /* 버튼이 화면 크기에 따라 줄 바꿈 가능 */
  justify-content: center; /* 버튼들을 가운데 정렬 */
  gap: 10px; /* 버튼 사이 간격 */
}
#spin-button, #stop-button, #region-link {
  padding: 18px 36px;
  font-size: 24px;
  background-color: #e092ee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 12px;
}

#spin-button:hover, #stop-button:hover, #region-link:hover {
  background-color: #0056b3;
}

#region-link {
  display: none;
}