<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 안산</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>안산시</h2>
        <p>첨단산업도시이자 공업도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/ansan-image.png" class="highlight-image">
            <div class="image-description">
                안산시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/ansan-character.png" class="highlight-image">
            <div class="image-description">
                안산시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/ansan-slogan.png" class="highlight-image">
            <div class="image-description">
                안산시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>안산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            경기도 서남부에 위치한 시. 단원구와 상록구 두 개의 일반구가 있다. 반월국가산업단지와 시화국가산업단지가 있는 공업도시다. 서쪽과 북쪽으로는 시흥시, 동쪽으로는 군포시, 의왕시, 
            수원시, 북동쪽으로는 안양시, 남쪽으로는 화성시, 서쪽으로는 인천광역시 옹진군에 접한다.
        </p>
    </div>

    <div class="info-block">
        <h2>안산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>구봉도 낙조</li>
                <li>대부도</li>
                <li>동주염전</li>
            </ul>
            <img src="/static/images/city/ansan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>안산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>바지락고추장찌개</li>
            <li>바지락칼국수</li>
            <li>포도꿀떡</li>
        </ul>
    </div>
</section>

</body>
</html>