<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 아산시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>아산시</h2>
        <p>전통과 발전이 공존하는 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/asan-image.png" class="highlight-image">
            <div class="image-description">
                아산시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/asan-character.png" class="highlight-image">
            <div class="image-description">
                아산시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/asan-slogan.png" class="highlight-image">
            <div class="image-description">
                아산시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>아산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            충청남도의 자치시. 북쪽으로는 경기도 평택시, 동쪽으로는 천안시, 남쪽으로는 공주시, 남서쪽으로는 예산군, 서쪽으로는 당진시가 있다. 충무공 이순신의 영정을 모신 현충사와, 
            조선시대 왕들이 애용했었고 1960년대까지도 인기 신혼여행지였던 온양온천과 삼성전자 나노시티 온양캠퍼스, 삼성디스플레이 아산캠퍼스, 현대자동차 아산공장, 코닝정밀소재 등이 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>아산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>외암민속마을</li>
                <li>현충사</li>
                <li>세계꽃식물원</li>
            </ul>
            <img src="/static/images/city/asan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>아산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>장어구이</li>
            <li>한우</li>
            <li>어죽</li>
        </ul>
    </div>
</section>

</body>
</html>