<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 부천시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>부천시</h2>
        <p>문화와 산업의 중심, 경기도의 명품 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/bucheon-image.png" class="highlight-image">
            <div class="image-description">
                부천시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/bucheon-character.png" class="highlight-image">
            <div class="image-description">
                부천시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/bucheon-slogan.png" class="highlight-image">
            <div class="image-description">
                부천시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>부천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            부천시는 경기도 서부에 위치한 도시로, 서울과 인천 사이에 자리 잡고 있어 교통이 매우 편리하다. 
            부천은 문화와 산업의 중심지로, 특히 만화, 영화, 음악 산업이 발달해 있다. 
            또한, 부천의 다양한 문화 시설과 공원, 그리고 전통적인 시장들이 매력적인 도시이다. 
            부천시의 상징적인 장소로는 부천 영화제, 부천시립도서관, 그리고 부천역 일대의 쇼핑몰 등이 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>부천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>부천영화제</li>
                <li>부천시립도서관</li>
                <li>소사벌공원</li>
            </ul>
            <img src="/static/images/city/bucheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>부천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>부천 쌀국수</li>
            <li>부천 닭강정</li>
            <li>부천 떡볶이</li>
        </ul>
    </div>
</section>

</body>
</html>
