<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
    <title>지역정보 페이지 - 부산광역시</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>부산광역시</h2>
        <p>대한민국 최초의 광역시이자 제2의 수도, 최대의 해양도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/busan-image.png" class="highlight-image">
            <div class="image-description">
                부산광역시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/busan-character.png" class="highlight-image">
            <div class="image-description">
                부산광역시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/busan-slogan.png" class="highlight-image">
            <div class="image-description">
                부산광역시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>부산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            대한민국 동남쪽에 위치한 광역시. 북쪽으로는 경상남도 양산시와 울산광역시 울주군, 서쪽으로 경상남도 창원시 진해구, 김해시와 접하고 있다.
            대한민국 최초의 광역시(직할시)이자 제2의 도시로, 6개의 광역시 중 가장 인구가 많으며, 인천광역시와 더불어 300만 이상의 인구가 거주하는 둘뿐인 광역시이기도 하다. 
            광역자치단체 전체로 범위를 넓히면 경기도, 서울특별시 다음으로 세 번째로 인구가 많은 광역자치단체다. 또한 도농복합시 중에서도 가장 인구가 많다.
            부산·울산권과 경상남도의 중추 도시이기도 하며, 대한민국의 최대 무역항이자 환적량이 세계 5위권 규모인 부산항을 보유하고 있어, 바로 위에 존재하는 대한민국의 최대 공업 도시인 
            울산광역시와 함께 대한민국 수출입 경제에 중추적인 역할을 수행하는 도시이기도 하다.
        </p>
    </div>

    <div class="info-block">
        <h2>부산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>광안대교</li>
                <li>송도 해상 케이블카</li>
                <li>국제시장</li>
            </ul>
            <img src="/static/images/city/busan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>부산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>돼지국밥</li>
            <li>밀면</li>
            <li>활어회</li>
        </ul>
    </div>
</section>

</body>
</html>
