<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 창원</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>창원시</h2>
        <p>경상남도 정치, 경제, 사회, 문화의 중심지</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/changwon-image.png" class="highlight-image">
            <div class="image-description">
                창원시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/changwon-character.png" class="highlight-image">
            <div class="image-description">
                창원시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/changwon-slogan.png" class="highlight-image">
            <div class="image-description">
                창원시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>창원은 어떤 곳인가요?</h2>
        <hr>
        <p>
            창원시는 경상남도의 중심 도시로 경상남도의 정치, 경제, 사회, 문화의 중심지다. 경상남도청, 경상남도의회, 창원지방법원, 창원지방검찰청, 경남지방경찰청, 창원소방본부, 경남소방본부, 
            경상남도교육청, 정부경남지방합동청사, 그 외 정부 부처 및 관계 기관들의 경상남도 청사가 상당 부분 창원시에 몰려 있다. 경제 규모가 인구수 대비 상당히 큰 편이다. 
            2019년 기준 지역 내 총생산(GRDP)이 약 39조 8,600만으로 집계되었는데 이는 전국 기초자치단체 중 5위, 비수도권 기초자치단체 1위에 해당되며 대전광역시(약 43조 900만), 
            광주광역시(약 41조 5,100만)와도 비견되는 수준이다. 그만큼 내로라하는 국내 대기업 공장들이 많이 상주해 있는 곳으로, 외국계 글로벌 기업 사업장도 다량 위치해 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>창원에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>진해해양공원</li>
                <li>창원수목원</li>
                <li>창원가로수길</li>
            </ul>
            <img src="image/city2/changwon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>창원에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>아구포</li>
            <li>콩과자</li>
            <li>피조개</li>
        </ul>
    </div>
</section>

</body>
</html>