<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 천안</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>천안시</h2>
        <p>충청남도 최대 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/cheonan-image.png" class="highlight-image">
            <div class="image-description">
                천안시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/cheonan-character.png" class="highlight-image">
            <div class="image-description">
                천안시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/cheonan-slogan.png" class="highlight-image">
            <div class="image-description">
                천안시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>천안은 어떤 곳인가요?</h2>
        <hr>
        <p>
            충청남도의 동북쪽에 있는 시로, 충청남도의 최대도시이자 전국에서 17번째로 큰 도시, 전국의 일반시 중 열 번째로 큰 대도시이다. 대도시 특례를 받는 시로는 충청남도에서 천안이 유일하며, 
            비수도권 기초자치단체 중에서는 경상남도 창원시(100만), 충청북도 청주시(85만) 다음으로 인구가 많다. 동쪽으로 충청북도 진천군, 청주시, 서쪽으로 아산시, 남쪽으로 세종특별자치시, 
            공주시, 북쪽으로 경기도 안성시, 평택시와 접한다. 충남 서부 또는 서북부 일대에 해당되는 내포지방의 실질적 중심지이기도 하여 천안의 권역을 내포-천안권이라 칭하기도 한다.
        </p>
    </div>

    <div class="info-block">
        <h2>천안에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>독립기념관</li>
                <li>단대호수공원</li>
                <li>천안병천순대거리</li>
            </ul>
            <img src="/static/images/city/cheonan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>천안에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>호두과자</li>
            <li>아우내 장터국밥</li>
            <li>보리고추장</li>
        </ul>
    </div>
</section>

</body>
</html>