<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 청주시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>청주시</h2>
        <p>교육의 도시, 광역시급 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/cheongju-image.png" class="highlight-image">
            <div class="image-description">
                청주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/cheongju-character.png" class="highlight-image">
            <div class="image-description">
                청주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/cheongju-slogan.png" class="highlight-image">
            <div class="image-description">
                청주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>청주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            청주시는 통일신라 시절 9주 5소경[18] 중 하나인 서원경으로, 작은 수도 역할을 했다. 청주시 남쪽으로는 대전광역시와 보은군이 접하며 서쪽으로는 세종특별자치시와 천안시, 
            북쪽으로는 진천군과 증평군, 동쪽으로는 괴산군이 접하고 있다. 청주시의 경제 규모는 이미 광역시급 대도시가 되었다. SK하이닉스를 위시한 많은 제조업 회사, 공장을 유치한 덕택이다. 
            2018년 기준 청주시의 지역 내 총 생산(GRDP)은 39조를 돌파하여 약 37조인 광주광역시, 약 39조인 대전광역시와 비슷한 수준이다. 이는 인구 100만 명 이상 특례시인 용인과 수원, 
            고양보다 높으며, 1인당 GRDP는 4137만 원으로 인근 대전이나 천안은 물론 웬만한 수도권 도시들보다도 높다. 여기에 2028년에 본격 가동되는 방사광가속기(약 6조원 규모의 경제효과)가 
            가동되기 시작하면 광역시를 초월하는 경제 규모를 가진 대도시가 된다. 추가로 SK 하이닉스가 M15 공장을 M15X로 확장하는 공사를 진행 중이며, M15X 공장보다 더 큰 규모로 예정된 M17 
            공장의 부지를 매입하여 터를 닦아놨다. 청주는 예로부터 교육도시로 알려졌는데 국립대학교만 무려 5개가 청주에 위치하고 있으며 과거에는 교육 관련 종사자와 학생이 전체 도시 인구의 
            40% 이상을 차지했다. 또한 전국에서 유일하게 교원 양성 목적으로 설립한 국립 한국교원대학교와 공군 장교 육성의 요람인 공군사관학교 또한 청주에 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>청주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>미동산수목원</li>
                <li>국립청주박물관</li>
                <li>상당산성</li>
            </ul>
            <img src="/static/images/city/cheongju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>청주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>올갱이국</li>
            <li>도토리묵밥</li>
            <li>오골계탕</li>
        </ul>
    </div>
</section>

</body>
</html>