<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 청주</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>충주시</h2>
        <p>충청도 중 가장 넓은 무한한 잠재력의 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/chungju-image.png" class="highlight-image">
            <div class="image-description">
                충주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/chungju-character.png" class="highlight-image">
            <div class="image-description">
                충주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/chungju-slogan.png" class="highlight-image">
            <div class="image-description">
                충주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>충주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            충청북도의 북부 가운데에 있는 시. 청주에 이은 충청북도 제2의 도시다. 충청도의 "충"이 바로 충주시에서 따왔다. 동쪽으로는 충청북도 제천시, 남쪽으로는 충청북도 괴산군, 
            경상북도 문경시, 서로는 충청북도 음성군, 북쪽으로는 경기도 여주시와 강원도 원주시(귀래면과 부론면)에 접한다. 충청도 전체 기초자치단체 중 면적 1위이며, 
            음성군과 진천군을 합친 것보다도 넓으며, 영남지방과 수도권에 모두 경계를 접하고 있는 유일한 지역이다.
        </p>
    </div>

    <div class="info-block">
        <h2>충주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>충주호</li>
                <li>활옥동굴</li>
                <li>충주박물관</li>
            </ul>
            <img src="image/city2/chungju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>충주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>호박범벅</li>
            <li>사과설기</li>
            <li>새뱅이지짐이</li>
        </ul>
    </div>
</section>

</body>
</html>