<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 춘천</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>춘천시</h2>
        <p>낭만과 청춘, 호반의 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/chuncheon-image.png" class="highlight-image">
            <div class="image-description">
                춘천시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/chuncheon-character.png" class="highlight-image">
            <div class="image-description">
                춘천시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/chuncheon-slogan.png" class="highlight-image">
            <div class="image-description">
                춘천시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>춘천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            기원전 7세기부터 대규모 취락이 자리잡아 고대부터 맥국의 고도(古都)로 여겨져 온 강원특별자치도 최초의 도시이며, 조선 시대 수도 방위의 핵심 요충지에 설치된 다섯 유수부 중 하나이다. 
            또한 선사 시대부터 현대까지 2,000년 이상 이어진 영서지방의 역사적, 문화적 중심으로 서쪽으로 접하는 경기도 가평군, 북쪽으로 접하는 화천군, 북동쪽으로 접하는 양구군과 인제군, 
            남쪽으로 접하는 홍천군을 포함한 영서 북부 지역의 거점도시이다. 영서 남부 지역의 원주시, 영동 지역의 강릉시와 함께 강원도 3대 도시를 이룬다. 분지 외곽부에 위치한 세 곳의 지협을 
            제외하면 산으로 온전히 둘러싸인 소쿠리 모양의 침식분지를 바깥의 세 호수가 둘러싸고 있으며 분지 한가운데에 솟은 진산(眞山) 봉의산을 중심으로 자리잡은 도시와 분지 중앙부를 
            가로지르는 의암호, 그 속에 자리잡은 중도가 어우러진 특유의 아름다운 경관을 연출하여 낭만, 청춘의 이미지를 가진 호반(湖畔)의 도시로 널리 알려져 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>춘천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>남이섬</li>
                <li>강촌레일파크</li>
                <li>소양강스카이워크</li>
            </ul>
            <img src="image/city2/chuncheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>춘천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>닭갈비</li>
            <li>막국수</li>
            <li>총떡</li>
        </ul>
    </div>
</section>

</body>
</html>