<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
    <title>지역정보 페이지 - 대전광역시</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>대전광역시</h2>
        <p>대한민국의 중심이자 최대의 과학/연구 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/daejeon-image.png" class="highlight-image">
            <div class="image-description">
                대전광역시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/daejeon-character.png" class="highlight-image">
            <div class="image-description">
                대전광역시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/daejeon-slogan.png" class="highlight-image">
            <div class="image-description">
                대전광역시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>대전은 어떤 곳인가요?</h2>
        <hr>
        <p>
            충청도 제1의 도시로 중부 지방과 남부 지방을 잇는 교통의 요지이자 대덕연구개발특구(대덕연구단지), 국제과학비즈니스벨트가 조성된 대한민국 최대이자 전 세계에서도 손꼽히는 
            과학·연구 도시다. 또한 4년제 대학만 13곳이 소재한 교육 도시다. 그와 동시에 정부대전청사와 다수의 국가기관 본사가 자리한 행정 도시이며 3군 본부와 인접해 있고, 
            국군의 군사 교육 및 훈련 시설이 밀집한 자운대와 육군군수사령부, 국방과학연구소 등이 자리해 군사 도시의 기능도 수행하고 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>대전에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>대전 엑스포 과학공원</li>
                <li>대전오월드</li>
                <li>성심당</li>
            </ul>
            <img src="/static/images/city/daejeon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>대전에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>성심당 빵</li>
            <li>칼국수</li>
            <li>성심당 케익부띠끄</li>
        </ul>
    </div>
</section>

</body>
</html>
