<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 단양군</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>단양군</h2>
        <p>충청북도의 대표적인 관광지이자 자연의 경관이 아름다운 고장</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/danyang-image.png" class="highlight-image">
            <div class="image-description">
                단양군의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/danyang-character.png" class="highlight-image">
            <div class="image-description">
                단양군의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/danyang-slogan.png" class="highlight-image">
            <div class="image-description">
                단양군의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>단양은 어떤 곳인가요?</h2>
        <hr>
        <p>
            단양군은 충청북도에 위치한 자연 관광지로, 남한강을 따라 아름다운 산수경관을 자랑합니다.
            특히 도담삼봉, 구담봉과 같은 명소로 유명하며, 석회암 동굴과 풍부한 자연유산이 있는 지역입니다.
        </p>
    </div>

    <div class="info-block">
        <h2>단양에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>도담삼봉</li>
                <li>구담봉</li>
                <li>고수동굴</li>
            </ul>
            <img src="/static/images/city/danyang-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>단양에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>마늘떡갈비</li>
            <li>마늘순대</li>
            <li>단양한우</li>
        </ul>
    </div>
</section>

</body>
</html>
