<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>동두천시 지역정보 페이지</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>동두천시</h2>
        <p>경기도 북부에 위치한 군사적, 자연적 특징을 지닌 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/dongducheon-image.png" class="highlight-image">
            <div class="image-description">
                동두천시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/dongducheon-character.png" class="highlight-image">
            <div class="image-description">
                동두천시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/dongducheon-slogan.png" class="highlight-image">
            <div class="image-description">
                동두천시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>동두천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            동두천시는 경기도 북부에 위치하며, 군사적 중요성으로 알려져 있다. 
            또한 자연경관과 산악 지역으로도 유명하며, 미군기지가 위치해 있어 국제적인 특성을 갖고 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>동두천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>동두천 별장지구</li>
                <li>동두천 평화의 댐</li>
                <li>동두천 가평천</li>
            </ul>
            <img src="/static/images/city/dongducheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>동두천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>동두천 불고기</li>
            <li>동두천 떡</li>
            <li>동두천 참기름</li>
        </ul>
    </div>
</section>

</body>
</html>
