<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 강릉시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>강릉시</h2>
        <p>낭만과 청춘, 호반의 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/gangneung-image.png" class="highlight-image">
            <div class="image-description">
                강릉시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gangneung-character.png" class="highlight-image">
            <div class="image-description">
                강릉시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gangneung-slogan.png" class="highlight-image">
            <div class="image-description">
                강릉시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>강릉은 어떤 곳인가요?</h2>
        <hr>
        <p>
            강릉은 도시 전체가 관광지인 도시로, 강릉에는 여름 피서철에만 600만~800만 명이 찾아오며, 연간 방문객은 1,500만 명에서 1,800만 명선이다. 주요 관광 자원으로는 경포대, 
            신사임당과 이이의 오죽헌, 전주 이씨 효령대군 후손 이내번의 집인 강릉선교장, 경포해수욕장, 정동진역 등이 유명하다. 이외에 안목해변과 주문진 커피거리도 2010년대 한국의 커피 유행과 
            더불어 유명해졌다. 강원 영동지방의 중심도시이지만 백두대간이라는 거대한 장벽 때문에 수도권과는 동떨어져 있는데다, 1960~1990년대에는 경제 개발이 경부라인과 경인라인에 집중된 까닭으로 
            현대에는 그 영향력이 많이 축소되었고, 또 한국 내수시장이 협소한 관계로 관광산업 특성화만으로는 발전에 한계가 있다. 과학산업단지가 개발이 완료됐지만, 입주율은 좋지 못한 편이다.
        </p>
    </div>

    <div class="info-block">
        <h2>강릉에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>정동진</li>
                <li>오죽헌</li>
                <li>주문진수산시장</li>
            </ul>
            <img src="/static/images/city/gangneung-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>강릉에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>초당순두부</li>
            <li>오징어순대</li>
            <li>젓갈</li>
        </ul>
    </div>
</section>

</body>
</html>