<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 거제</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>거제시</h2>
        <p>경상도의 가장 큰 섬</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/geoje-image.png" class="highlight-image">
            <div class="image-description">
                거제시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/geoje-character.png" class="highlight-image">
            <div class="image-description">
                거제시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/geoje-slogan.png" class="highlight-image">
            <div class="image-description">
                거제시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>거제는 어떤 곳인가요?</h2>
        <hr>
        <p>
            경상남도의 남해안에 있는 시. 시 면적의 대부분을 차지하는 섬 거제도는 대한민국에서 제주도 다음으로 큰 섬이며, 인구도 제주도 다음으로 많고 섬을 본토로 하는 
            기초자치단체 중에서 유일한 시이다. 철도가 없는 기초자치단체 중 인구가 제일 많은 곳이기도 하다.본섬 거제도를 포함한 88개의 크고 작은 섬들이 속해 있으며, 
            총 면적은 403.86㎢(본섬의 면적은 382.2㎢, 대략 동서간 27.45㎞, 남북간 39.75㎞)이다. 그 중 임야 69.3%, 농경지 15.4%, 대지 4.3%, 기타 11.0%를 차지하고 있다. 
            본섬의 해안선은 약 443.8㎞로 대한민국 섬 중 가장 길고 간척으로 면적은 넓어지고 있다.

        </p>
    </div>

    <div class="info-block">
        <h2>거제에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>거제 포로수용소</li>
                <li>바람의 언덕</li>
                <li>거제씨월드</li>
            </ul>
            <img src="/static/images/city/geoje-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>거제에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>대구탕</li>
            <li>굴</li>
            <li>성게비빔밥</li>
        </ul>
    </div>
</section>

</body>
</html>