<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 김해</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>김해시</h2>
        <p>가야의 기둥</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/gimhae-image.png" class="highlight-image">
            <div class="image-description">
                김해시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/gimhae-character.png" class="highlight-image">
            <div class="image-description">
                김해시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/gimhae-slogan.png" class="highlight-image">
            <div class="image-description">
                김해시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>김해는 어떤 곳인가요?</h2>
        <hr>
        <p>
            가야의 시조 수로왕이 세운 금관가야의 수도였으며, 김해시에서도 500년 가야의 수도임을 강조한다. 한민족이 가진 성씨 중 김해 김씨가 가장 많을 정도로, 하나의 지역치고는 역사적으로 
            중요한 역할을 한 지역 중 하나였다. 동쪽으로는 부산광역시, 서쪽으로는 창원, 북쪽으로는 밀양, 양산과 접하고 있으나 주로 부산과 창원과의 교류가 활발한 편이다. 김해(金海)의 한자에는 
            바다 해(海)가 들어있지만, 실제로는 바다와 인접하지 않는 지역이다. 과거엔 바다를 끼고 있었지만 바다와 만나는 지역들이 모두 다 부산에 편입되어 내륙 지역이 된 것이다. 
            신라, 가야 시절에 쇠가 바다처럼 많이 난다고 하여 김해라고 이름 붙은 것이다. 부산의 위성도시 중 하나이지만 단순한 베드타운으로는 보기 힘든 면이 있는데 과거, 부산에 비해 
            싼 지가 때문에 김해로 이전한 많은 공장들 때문에 다른 위성도시와는 다르게 부산에서 김해로 출근하는 사람이 더 많아 아침에는 김해 방향, 저녁에는 부산 방향으로 정체가 극심하기 때문이다.
            이는 부산광역시가 베드타운 성격에 더 가깝다는 것인데 그만큼 부산광역시가 사람도 많고 일자리도 많았던 예전의 명성에 비해 많이 몰락했다는 사실을 알 수 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>김해에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>김해가야테마파크</li>
                <li>수로왕릉</li>
                <li>롯데워터파크</li>
            </ul>
            <img src="image/city2/gimhae-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>창원에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>뒷고기</li>
            <li>오리탕</li>
            <li>닭발</li>
        </ul>
    </div>
</section>

</body>
</html>