<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 김포시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>김포시</h2>
        <p>서울과 가까운, 발전하는 교통의 중심지</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/gimpo-image.png" class="highlight-image">
            <div class="image-description">
                김포시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gimpo-character.png" class="highlight-image">
            <div class="image-description">
                김포시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gimpo-slogan.png" class="highlight-image">
            <div class="image-description">
                김포시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>김포는 어떤 곳인가요?</h2>
        <hr>
        <p>
            김포시는 경기도 서북부에 위치한 도시로, 서울과 인천을 잇는 교통의 요충지다. 
            특히 김포국제공항이 있어, 국제적인 교류와 물류의 중심지로 자리잡고 있다. 
            김포는 농업과 산업이 결합된 도시로, 자연과 도시가 조화를 이루는 곳이다. 
            김포의 다양한 문화 행사와 관광 명소들, 그리고 평화롭고 여유로운 분위기를 즐길 수 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>김포에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>김포 한강시네폴리스</li>
                <li>김포국제공항</li>
                <li>풍무동</li>
            </ul>
            <img src="/static/images/city/gimpo-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>김포에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>김포 갈비</li>
            <li>김포 마늘 닭</li>
            <li>김포 떡볶이</li>
        </ul>
    </div>
</section>

</body>
</html>
