<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 공주</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>공주시</h2>
        <p>역사가 살아있는 충청도의 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/gongju-image.png" class="highlight-image">
            <div class="image-description">
                공주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/gongju-character.png" class="highlight-image">
            <div class="image-description">
                공주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/gongju-slogan.png" class="highlight-image">
            <div class="image-description">
                공주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>공주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            충청남도의 동부 중앙에 있는 시. 동으로는 세종특별자치시, 동남으로는 대전광역시와 계룡시, 서로는 청양군, 남으로는 논산시와 부여군, 북으로는 천안시와 아산시, 예산군에 접한다. 
            면적이 충청남도에서 가장 넓다. 신라의 삼국 통일과 행정구역 개편으로 인해 웅천주(熊川州, 웅주)로 개칭되었다가 조선 시대 이후로는 쭉 공주라 불렸다. 공주의 '公(공)'은 '곰'을 
            음차하기 위하여 발음이 비슷한 한자로 채택된 것이라 볼 수 있다. 지명 유래에 따라 공주시의 마스코트도 곰을 쓰고 있다. 대동강을 낀 평양시, 한강을 낀 서울특별시 등은 모두 대도시로 
            성장했지만, 정작 공주시는 충청도 최대의 강인 금강을 끼고도 오히려 일제강점기를 거치면서 촌구석이었던 대전에게 밀려버렸다. 전통적인 도내 주요 도시였지만 인근의 새로운 도시에 밀려 
            쇠퇴한 경우이다.

        </p>
    </div>

    <div class="info-block">
        <h2>공주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>공주 한옥마을</li>
                <li>미르섬</li>
                <li>공주 무령왕릉</li>
            </ul>
            <img src="image/city2/gongju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>공주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>더덕구이</li>
            <li>버섯찌개 백반</li>
            <li>도라지, 고사리나물</li>
        </ul>
    </div>
</section>

</body>
</html>