<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 고양시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>고양시</h2>
        <p>대한민국에서 세 번째로 인기 많은 기초자치단체</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/goyang-image.png" class="highlight-image">
            <div class="image-description">
                고양시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/goyang-character.png" class="highlight-image">
            <div class="image-description">
                고양시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/goyang-slogan.png" class="highlight-image">
            <div class="image-description">
                고양시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>고양은 어떤 곳인가요?</h2>
        <hr>
        <p>
            경기도 서북부에 위치한 특례시. 전국에서 세 번째로 인구가 많은 기초자치단체이며, 수원시에 이어 경기도 내 두 번째로 인구 100만 명을 돌파한 도시다. 덕양구, 일산동구, 일산서구의 
            3개 일반구가 설치되어 있다. 한강을 기준으로 경기도를 남북으로 나눴을 때 강북의 서부 끄트머리에 위치해 있어 일단 명목상으로는 경기 북부로 분류되지만, 같은 강북의 정 반대편 동부에 
            위치한 남양주시와 마찬가지로 일반적인 경기 북부와는 조금 다르다. 특히 지리적 측면에서 경기 북부의 기준이 되는 의정부시와 비교하면 상당히 서쪽으로 치우쳐 있기 때문에 북부라기보다는 
            경기 서부 라고 보는 편이 조금 더 맞다고 할 수 있다. 사실 고양시의 최남단인 덕양구 덕은동은 한강 이남 경기도 하남시 미사지구와 서울특별시 강서구 및 강동구 북부와 위도가 거의 같다. 
            또한 덕양구의 대부분 중심지 및 핵심지역은 서울 강북 지역인 은평구, 강북구, 노원구와 비슷한 위도이며, 일산신도시는 도봉구와 비슷한 위도다. 즉 행정구역상으로는 반대편 동쪽의 남양주시와 
            마찬가지로 경기 북부이지만 실제로는 서울 강북 지역과 비슷한 위도라고 할 수 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>고양에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>고양 스타필드</li>
                <li>일산 호수공원</li>
                <li>북한산성</li>
            </ul>
            <img src="/static/images/city/goyang-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>고양에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>고양쌀막걸리</li>
            <li>웅어회</li>
            <li>미꾸라지털레기</li>
        </ul>
    </div>
</section>

</body>
</html>