<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 구미시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>구미시</h2>
        <p>대구권 도시 중 가장 큰 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/gumi-image.png" class="highlight-image">
            <div class="image-description">
                구미시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gumi-character.png" class="highlight-image">
            <div class="image-description">
                구미시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gumi-slogan.png" class="highlight-image">
            <div class="image-description">
                구미시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>구미는 어떤 곳인가요?</h2>
        <hr>
        <p>
            경산시 다음으로 대구광역시와 통학·통근권을 가장 밀접하게 공유하는 대구권의 도시 중 한 곳이다. 대구광역시를 제외한 대구권의 도시 중 가장 규모가 크고 대구광역시와는 어느 정도 
            독자적인 생활권을 가지고 있다. 1969년 박정희 정부가 구미시와 칠곡군 일대에 구미국가산업단지를 조성해 전자반도체 산업을 중점 육성했다. 
            이에 따라 전자산업, 반도체산업 관련 기업들이 대거 입주해 인구가 급증하고 산업도시로 성장했다. 2010년대부터 기업 유치에 어려움을 겪고 있고 
            예전에 비해서 국가 경제 전체에서 차지하는 구미시의 비중이 줄어들기는 했지만, 여전히 경상북도 내에서 포항시와 함께 중요한 경제적인 축을 담당하고 있는 도시이다.
        </p>
    </div>

    <div class="info-block">
        <h2>구미에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>구미 에코랜드</li>
                <li>금오산 케이블카</li>
                <li>금오산 저수지</li>
            </ul>
            <img src="/static/images/city/gumi-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>구미에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>물회</li>
            <li>모리국수</li>
            <li>구룡포 찐빵</li>
        </ul>
    </div>
</section>

</body>
</html>