<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 군산시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>군산시</h2>
        <p>서해안 최대의 공업도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/gunsan-image.png" class="highlight-image">
            <div class="image-description">
                군산시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gunsan-character.png" class="highlight-image">
            <div class="image-description">
                군산시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gunsan-slogan.png" class="highlight-image">
            <div class="image-description">
                군산시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>군산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            전북특별자치도 북서부에 위치한 시이며, 인구가 전주시, 익산시 다음으로 많다. 북쪽으로 충청남도 서천군, 동쪽으로 익산시, 남쪽으로 김제시와 부안군이 접해있다. 
            서쪽으로는 서해가 접해있다. 교과서에도 등장하는 군산내항의 뜬다리 부두로 유명하다고 하지만, 지금은 연안·국제여객선 터미널과 산업항구 모두 소룡동과 오식도동에 
            새로 지어진 군산외항에 있다. 군산시는 일제강점기 개항장으로 지정된 이후 대한민국 서해안 지역에서 가장 큰 공업도시였고 21세기까지도 대한민국의 대표 공업도시 중 하나였다. 
            대한민국 한강의 기적 당시 서해안 지역은 남동임해공업지역 개발에서 소외됐지만 그래도 여수시와 더불어서 군산시만큼은 남동임해공업지역처럼 공업도시로 적극 육성했다. 
            하지만 2018년 한국GM, 2019년 HD현대중공업이 철수하면서 군산시 경제는 침체 상태에 빠지고 말았다. 다만 현대중공업이 2022년 10월 28일 군산조선소 가동을 시작하여 어느정도 
            경제 침체는 벗어났다.ㅍ일제강점기 쌀 수출항으로 성장한 도시이며, 산업화 시기에는 쇠퇴했었지만 여러 공장들이 입주하면서 한때 전북 내에서 가장 주목받는 도시였다. 
            시로 승격된 날짜도 서울, 인천 다음으로 빨랐던 도시다.
        </p>
    </div>

    <div class="info-block">
        <h2>군산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>월명공원</li>
                <li>선유도 해수욕장</li>
                <li>군산 근대역사박물관</li>
            </ul>
            <img src="/static/images/city/gunsan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>군산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>아구찜</li>
            <li>짬뽕</li>
            <li>생성탕</li>
        </ul>
    </div>
</section>

</body>
</html>