<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 구리시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>구리시</h2>
        <p>경기도 북부에 위치한 자연과 교통이 우수한 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/guri-image.png" class="highlight-image">
            <div class="image-description">
                구리시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/guri-character.png" class="highlight-image">
            <div class="image-description">
                구리시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/guri-slogan.png" class="highlight-image">
            <div class="image-description">
                구리시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>구리는 어떤 곳인가요?</h2>
        <hr>
        <p>
            구리시는 경기도 북부에 위치한 도시로, 서울과 가까운 위치로 교통이 매우 편리하다. 
            특히 구리시는 한강을 끼고 있어 아름다운 자연경관과 함께 다양한 레저활동과 관광 명소를 자랑한다.
        </p>
    </div>

    <div class="info-block">
        <h2>구리에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>구리 한강시민공원</li>
                <li>구리 왕숙천</li>
                <li>구리 전통시장</li>
            </ul>
            <img src="/static/images/city/guri-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>구리에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>구리 갈비</li>
            <li>구리 떡갈비</li>
            <li>구리 순대</li>
        </ul>
    </div>
</section>

</body>
</html>
