<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>광명시 지역정보 페이지</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>광명시</h2>
        <p>서울과 가까운 교통의 요충지, 현대적인 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/gwangmyeong-image.png" class="highlight-image">
            <div class="image-description">
                광명시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gwangmyeong-character.png" class="highlight-image">
            <div class="image-description">
                광명시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gwangmyeong-slogan.png" class="highlight-image">
            <div class="image-description">
                광명시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>광명은 어떤 곳인가요?</h2>
        <hr>
        <p>
            광명시는 경기도의 중부에 위치한 도시로, 서울과 매우 가까운 거리에 있다. 
            교통 편의성 덕분에 서울의 위성 도시로서 급격히 발전해왔다. 광명은 현대적인 주거단지와 상업시설, 
            그리고 자연경관이 어우러져 균형 잡힌 도시를 형성하고 있다. 또한, 광명은 다양한 문화와 축제가 열리는 명소로도 유명하다.
        </p>
    </div>

    <div class="info-block">
        <h2>광명에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>광명동굴</li>
                <li>광명사거리</li>
                <li>광명문화원</li>
            </ul>
            <img src="/static/images/city/gwangmyeong-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>광명에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>광명갈비</li>
            <li>광명 순대국</li>
            <li>광명 떡볶이</li>
        </ul>
    </div>
</section>

</body>
</html>
