<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 광주시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>광주시</h2>
        <p>경기도의 아름다운 자연과 역사를 품은 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/gwangju_gyeonggi-image.png" class="highlight-image">
            <div class="image-description">
                광주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gwangju_gyeonggi-character.png" class="highlight-image">
            <div class="image-description">
                광주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/gwangju_gyeonggi-slogan.png" class="highlight-image">
            <div class="image-description">
                광주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>광주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            광주시는 경기도의 남부에 위치한 도시로, 서울과 인천에서 차로 1시간 거리에 있다. 
            자연 경관과 역사적인 유적지가 잘 보존되어 있으며, 도시와 자연이 조화를 이루는 곳이다. 
            광주는 전통적인 농업도시에서 산업도시로 변화하고 있으며, 최근에는 다양한 문화 시설과 관광 명소들이 인기를 끌고 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>광주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>광주향교</li>
                <li>광주호수공원</li>
                <li>광주문화예술회관</li>
            </ul>
            <img src="/static/images/city/gwangju_gyeonggi-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>광주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>광주 송어회</li>
            <li>광주된장찌개</li>
            <li>광주 쭈꾸미</li>
        </ul>
    </div>
</section>

</body>
</html>
