<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 경주</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>경주시</h2>
        <p>대한민국에서 가장 오래된 역사의 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/gyeongju-image.png" class="highlight-image">
            <div class="image-description">
                경주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/gyeongju-character.png" class="highlight-image">
            <div class="image-description">
                경주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/gyeongju-slogan.png" class="highlight-image">
            <div class="image-description">
                경주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>경주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            대한민국에서 가장 역사가 오래 된 도시 중 하나로, 약 천년 동안 신라의 수도였다. 그래서 불교 문화의 중심지 역할을 했다. 《삼국사기》 및 《삼국유사》의 기록에 따르면 
            기원전 57년 6월 8일에 첫 성읍국가인 사로국이 경주 계림 일대에 세워졌는데, 그로부터 불과 50년 전인 기원전 108년에 고조선의 왕검성이 함락되었으니 경주시는 도시 전체가 
            고풍스럽고 역사적인 무대라 할 수 있다. 경주시는 남북국시대에 이미 수십만 명의 인구가 산다는 기록이 있고, 고려 시대에도 삼경의 하나로서 명성을 유지했으며, 고려 후기에 무신정권에 
            대항하는 반란이 일어나고 나서는 3경에서 제외되고 이어서 몽골의 침략으로 황폐화되었다. 그러나 다시 동경으로 복권이 되어 고려시대 내내 중요한 도시로서 기능했다. 또한 조선 시대에도 
            그 위상은 여전해서 경상도의 '경'자가 경주에서 따왔고, 부로 지정된 동시에 경주부의 수장인 부윤은 종2품으로 관찰사와 동급이었던 것에서 보듯이 현대의 광역시급 지위는 되었을 
            정도로 경상도에서 가장 큰 도시였고, 동시에 이언적과 유네스코 세계문화유산 양동마을 및 옥산서원을 위시하여 안동시와 함께 영남 남인의 구심점이자 대표적인 양반 도시였다. 
            즉 신라 멸망 이후로도 주요도시라는 명성은 잃지 않고 지속적으로 이어져왔다는 얘기이고 이러한 경주의 위상과 규모는 경제개발기 이전까지 경상도 내에서 수위를 차지했다.
        </p>
    </div>

    <div class="info-block">
        <h2>경주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>불국사</li>
                <li>대릉원</li>
                <li>첨성대</li>
            </ul>
            <img src="image/city2/gyeongju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>경주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>황남빵</li>
            <li>별채반</li>
            <li>순두부</li>
        </ul>
    </div>
</section>

</body>
</html>