<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 하남시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>하남시</h2>
        <p>경기도 남부에 위치한 교통과 자연이 어우러지는 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/hanam-image.png" class="highlight-image">
            <div class="image-description">
                하남시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/hanam-character.png" class="highlight-image">
            <div class="image-description">
                하남시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/hanam-slogan.png" class="highlight-image">
            <div class="image-description">
                하남시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>하남은 어떤 곳인가요?</h2>
        <hr>
        <p>
            하남시는 경기도 남부에 위치한 도시로, 서울과 인접해 있어 교통이 편리하다. 또한, 풍부한 자연 경관을 자랑하며, 
            하남시는 상업지구와 주거지가 균형을 이루고 있는 현대적인 도시로 발전하고 있다. 특히, 스타필드 하남과 같은 대형 쇼핑몰과 
            다양한 문화시설이 있어 많은 사람들이 방문한다.
        </p>
    </div>

    <div class="info-block">
        <h2>하남에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>스타필드 하남</li>
                <li>천문대</li>
                <li>미사리 조정경기장</li>
            </ul>
            <img src="/static/images/city/hanam-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>하남에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>하남 떡갈비</li>
            <li>미사리 삼겹살</li>
            <li>하남 망고빙수</li>
        </ul>
    </div>
</section>

</body>
</html>
