<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 홍천군</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>홍천군</h2>
        <p>푸른 산과 맑은 강이 어우러진 강원도의 중심</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/hongcheon-image.png" class="highlight-image">
            <div class="image-description">
                홍천군의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/hongcheon-character.png" class="highlight-image">
            <div class="image-description">
                홍천군의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/hongcheon-slogan.png" class="highlight-image">
            <div class="image-description">
                홍천군의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>홍천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            홍천군은 강원도 중부에 위치한 군으로, 맑은 강과 푸른 산이 조화를 이루는 자연 친화적인 지역입니다. 
            국내 최대 규모의 홍천강을 따라 다양한 수상 레저를 즐길 수 있으며, 사계절 내내 자연을 만끽할 수 있는 관광 명소가 많습니다.
        </p>
    </div>

    <div class="info-block">
        <h2>홍천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>팔봉산</li>
                <li>홍천강</li>
                <li>대명 비발디파크</li>
            </ul>
            <img src="/static/images/city/hongcheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>홍천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>홍천 찰옥수수</li>
            <li>한우 요리</li>
            <li>산채비빔밥</li>
        </ul>
    </div>
</section>

</body>
</html>
