<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 화성시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>화성시</h2>
        <p>경기도의 산업과 자연이 조화를 이루는 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/hwaseong-image.png" class="highlight-image">
            <div class="image-description">
                화성시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/hwaseong-character.png" class="highlight-image">
            <div class="image-description">
                화성시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/hwaseong-slogan.png" class="highlight-image">
            <div class="image-description">
                화성시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>화성은 어떤 곳인가요?</h2>
        <hr>
        <p>
            화성시는 경기도의 서남부에 위치한 도시로, 산업과 농업이 균형 있게 발전한 지역이다. 
            특히 화성은 현대자동차와 삼성전자의 대규모 공장이 있는 산업 도시로 유명하다. 또한, 자연경관도 아름다워 
            관광지와 함께 산책로, 해수욕장 등 다양한 레저 활동을 즐길 수 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>화성에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>화성행궁</li>
                <li>수원화성</li>
                <li>서신면 해수욕장</li>
            </ul>
            <img src="/static/images/city/hwaseong-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>화성에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>화성 갈비</li>
            <li>화성 떡갈비</li>
            <li>화성 막걸리</li>
        </ul>
    </div>
</section>

</body>
</html>
