<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 익산</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>익산시</h2>
        <p>호남지역의 관문</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/iksan-image.png" class="highlight-image">
            <div class="image-description">
                익산시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/iksan-character.png" class="highlight-image">
            <div class="image-description">
                익산시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/iksan-slogan.png" class="highlight-image">
            <div class="image-description">
                익산시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>익산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            익산시의 시가지 일대는 이리라고도 불린다. 본래 솜리, 솜니, 솝리 등으로 불렀는데 한자로 옮겨 쓰면서 이리(裡里)가 되었다. 널따란 만경평야에서 구릉이 져, 멀리서 보면 속(솝)으로 
            들어간 마을이라는 뜻. 이렇듯 솜리는 만경강을 낀 만경평야 내 작은 촌락을 가리키는 곳이었는데, 조선총독부가 만경 - 김제평야에서 수탈한 쌀의 수송을 위해 호남선을 부설하고 
            익산역(당시는 이리역)을 세우고 호남선(대전광역시 - 광주광역시)와 전라선이 교차하는 철도 교통의 중심으로 발전하기 시작하면서 급격한 도시화가 이루어졌다. 동학농민운동의 중간 기폭제가 
            된 삼례 집회(교조 신원 운동)가 열린 완주군 삼례읍과도 접하였고, 한국의 자생종교인 원불교(삼성가의 종교로 유명)의 발원지라는 역사성을 배후로 최근 새만금 개발과 중국 경제의 발흥에서 
            발생하는 변화의 중심에 있기도 하다.
        </p>
    </div>

    <div class="info-block">
        <h2>익산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>익산미륵사지</li>
                <li>익산보석박물관</li>
                <li>백제왕궁박물관</li>
            </ul>
            <img src="/static/images/city/iksan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>익산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>육회비빔밥</li>
            <li>고구마순 육개장</li>
            <li>마약밥</li>
        </ul>
    </div>
</section>

</body>
</html>