<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
    <title>지역정보 페이지</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>인천광역시</h2>
        <p>수도의 외항이자, 수도권 최대의 해안 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/incheon-image.png" class="highlight-image">
            <div class="image-description">
                인천광역시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/incheon-character.png" class="highlight-image">
            <div class="image-description">
                인천광역시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/incheon-slogan.png" class="highlight-image">
            <div class="image-description">
                인천광역시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>인천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            인천광역시는 대한민국 중서부에 있는 광역시이다. 
            서쪽으로 서해, 동쪽으로 서울특별시 강서구, 경기도 부천시, 남동쪽으로 시흥시, 북쪽으로 김포시와 접한다.
            대한민국의 도시 중 서울특별시, 부산광역시에 이어 3번째로 인구가 많으며, 광역시 중에서는 대구광역시와 함께 
            1981년 7월 1일, 기존의 부산광역시에 이어 2번째로 일반 시에서 현재의 광역시인 직할시로 승격하였다.
            인천항과 인천국제공항을 중심으로 제조업과 물류와 산업이 발달하였다.
        </p>
    </div>

    <div class="info-block">
        <h2>인천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>송도 센트럴파크</li>
                <li>인천 차이나타운</li>
                <li>을왕리 해수욕장</li>
            </ul>
            <img src="/static/images/city/incheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>인천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>낙지해물칼국수</li>
            <li>세숫대야 냉면</li>
            <li>조개구이</li>
        </ul>
    </div>
</section>

</body>
</html>