<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
    <title>지역정보 페이지 - 제주특별자치도</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>제주특별자치도</h2>
        <p>최대 크기의 섬이자 대한민국 최남부</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/region/jeju-symbol.png" class="highlight-image">
            <div class="image-description">
                제주도의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/jeju-character.png" class="highlight-image">
            <div class="image-description">
                제주도의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/jeju-slogan.png" class="highlight-image">
            <div class="image-description">
                제주도의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>제주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            제주특별자치도는 대한민국의 제주도와 부근 섬들을 관할하는 특별자치도이다. 대한민국에서 가장 큰 섬인 제주도를 비롯하여 마라도, 우도, 추자군도 등을 포함한 유인도 8개, 
            무인도 55개로 구성되어 있다. 한라산 일대의 아름다운 자연 경관으로 관광업 등 서비스업과 어업이 발달하였고, 제주 화산섬과 용암 동굴은 유네스코 세계 자연 유산에 등재되었다.
            제주도는 화산 활동으로 형성된 화산섬이다. 이 때문에 중심에 한라산이 있고 섬 곳곳에는 200m~300m인 370개 가량의 기생화산(오름)이 있으며, 하논도 그 중 하나이다.
            먼 옛날에는 탐라국이라는 국가가 있었다. 그래서 제주를 가리키는 이명으로 탐라도라고 불리기도 했다. 감귤이 많이 나서 감귤국이라는 별명도 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>제주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>성산일출봉</li>
                <li>우도</li>
                <li>한라산</li>
            </ul>
            <img src="/static/images/city/jeju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>제주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>감귤</li>
            <li>고기국수</li>
            <li>흑돼지</li>
        </ul>
    </div>
</section>

</body>
</html>
