<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
    <title>지역정보 페이지 - 제주시</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>제주시</h2>
        <p>제주특별자치도의 중심 도시이자 행정, 경제, 문화의 중심지</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/jejusi-image.png" class="highlight-image" alt="제주시 상징 이미지">
            <div class="image-description">
                제주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/jeju-character.png" class="highlight-image" alt="제주시 상징 캐릭터">
            <div class="image-description">
                제주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/jejusi-slogan.png" class="highlight-image" alt="제주시 슬로건">
            <div class="image-description">
                제주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>제주시는 어떤 곳인가요?</h2>
        <hr>
        <p>
            제주는 제주특별자치도의 중심 도시로, 행정, 경제, 문화의 중심지 역할을 하고 있습니다. 아름다운 자연 경관과 현대적인 도시 시설이 조화를 이루고 있으며, 다양한 관광 명소와 편리한 교통 인프라를 자랑합니다.
            제주는 한라산의 기슭에 위치해 있으며, 제주공항을 통해 국내외 관광객이 쉽게 방문할 수 있습니다. 또한, 제주시는 다양한 박물관, 미술관, 공연장이 위치해 있어 문화 생활을 즐기기에 최적의 장소입니다.
        </p>
    </div>

    <div class="info-block">
        <h2>제주시에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>제주 신라호텔</li>
                <li>용두암</li>
                <li>동문시장</li>
                <li>제주 아쿠아플라넷</li>
                <li>한림공원</li>
            </ul>
            <img src="/static/images/city/jejusi-best.jpg" class="places-image" alt="제주시 추천 명소">
        </div>
    </div>

    <div class="info-block">
        <h2>제주시에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>갈치조림</li>
            <li>옥돔구이</li>
            <li>흑돼지 바비큐</li>
            <li>전복 요리</li>
            <li>제주 감귤 디저트</li>
        </ul>
    </div>
</section>

</body>
</html>
