<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 전주시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>전주시</h2>
        <p>전라북도의 심장 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/jeonju-image.png" class="highlight-image">
            <div class="image-description">
                전주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/jeonju-character.png" class="highlight-image">
            <div class="image-description">
                전주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/jeonju-slogan.png" class="highlight-image">
            <div class="image-description">
                전주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>전주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            전북 제1의 도시이자 호남에서 광주광역시 다음으로 크고 전라북도청까지 보유한 전북의 심장. 대한민국에서 18번째로 큰 도시, 대한민국의 일반시 중 열한 번째로 큰 도시, 
            광역시나 수도권 도시를 제외한 지방 일반시 중에서 4위이다. 또한 전북에서 유일하게 대도시 특례를 받으며, 예로부터 전국에서 가장 큰 도시들 중 하나였다. 
            고대 한국사의 뿌리가 되는 지역 중 하나이자 후백제와 조선의 뿌리이기도 한 도시이기에 전통문화 측면에서 한국을 넘어 해외에서도 인지도가 높은 도시다. 전라도에서 전(全)이 전주시에서 
            따온 것이다.
        </p>
    </div>

    <div class="info-block">
        <h2>전주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>전주 한옥마을</li>
                <li>전주수목원</li>
                <li>전주한옥 레일바이크</li>
            </ul>
            <img src="/static/images/city/jeonju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>전주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>전주 비빔밥</li>
            <li>콩나물국밥</li>
            <li>대합죽</li>
        </ul>
    </div>
</section>

</body>
</html>