<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 목포시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>목포시</h2>
        <p>전라남도 3대 항구도시이자 호남선의 끝</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/mokpo-image.png" class="highlight-image">
            <div class="image-description">
                목포시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/mokpo-character.png" class="highlight-image">
            <div class="image-description">
                목포시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/mokpo-slogan.png" class="highlight-image">
            <div class="image-description">
                목포시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>목포는 어떤 곳인가요?</h2>
        <hr>
        <p>
            전라남도 서부의 중심도시이다. 전라남도의 경제력은 동부(여수시, 순천시, 광양시 등)가 압도적이며 목포는 공업이라고는 거의 찾아볼 수도 없는 순수 소비도시이니 자체 경제력은 떨어진다. 
            역내 총생산을 비교해 보면 목포시는 4조 5,305억 원이지만 여수 25조 8,706억 원, 순천 6조 1,250억 원, 광양 10조 0,602억 원에 달하며, 2020년 기준 재산세는 목포시는 
            224억 원으로 여수시 507억 원, 순천시 301억 원, 광양시 279억 원에 이어 4번째다. 목포와 가까운 영암군 삼호읍에 현대삼호중공업과 대불산단이 있고 영암군의 전남 내 수출액 비중은 
            10.4%다. 하지만 전남 동부의 수출비중은 80%를 넘기 때문에 어떤 식으로 따져보든 목포의 경제력은 도무지 동부권과 비교할 수 없는 차이를 보인다. 하지만 도청신도시가 서부에 올 수 
            있었던 게 상대적인 낙후 지역이라는 점이 작용한 바가 크고, 소비도시 규모로서는 전남의 다른 도시들보다 더 크다고 볼 수 있다. 작은 도시 면적과 그에 따른 높은 인구밀도를 바탕으로 
            도시 인프라의 구축은 여.순.광.에 비해 훨씬 큰 도시로 보이게 만든다. 마천루, 대형마트와 아울렛, 영화관 등이 다른 도시에 비하면 많은 편이다.

        </p>
    </div>

    <div class="info-block">
        <h2>목포에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>목포대교</li>
                <li>목포 자연사박물관</li>
                <li>목포 스카이워크</li>
            </ul>
            <img src="/static/images/city/mokpo-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>목포에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>홍어삼합</li>
            <li>세발낙지</li>
            <li>우럭간국</li>
        </ul>
    </div>
</section>

</body>
</html>