<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 남양주시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>남양주시</h2>
        <p>경기도 북동부에 위치한 자연과 도시가 조화를 이루는 곳</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/namyangju-image.png" class="highlight-image">
            <div class="image-description">
                남양주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/namyangju-character.png" class="highlight-image">
            <div class="image-description">
                남양주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/namyangju-slogan.png" class="highlight-image">
            <div class="image-description">
                남양주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>남양주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            남양주시는 경기도 북동부에 위치한 도시로, 자연 환경과 도시가 조화를 이루고 있는 지역이다. 
            서울과 가까워 교통이 편리하며, 많은 관광지와 자연경관을 자랑한다. 특히, 물 맑고 공기 좋은 지역으로 
            주민들의 삶의 질이 높은 곳으로 알려져 있다. 남양주는 많은 역사적인 유적지와 문화재도 보유하고 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>남양주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>다산 정약용 기념관</li>
                <li>청학동</li>
                <li>명지산</li>
            </ul>
            <img src="/static/images/city/namyangju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>남양주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>남양주 된장찌개</li>
            <li>남양주 바나나 우유</li>
            <li>남양주 순대</li>
        </ul>
    </div>
</section>

</body>
</html>
