<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 오산시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>오산시</h2>
        <p>경기도 남부의 역사와 자연이 어우러진 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/osan-image.png" class="highlight-image">
            <div class="image-description">
                오산시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/osan-character.png" class="highlight-image">
            <div class="image-description">
                오산시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/osan-slogan.png" class="highlight-image">
            <div class="image-description">
                오산시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>오산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            오산시는 경기도 남부에 위치한 도시로, 서울과 가까운 거리에 있으며, 철도와 도로 교통망이 발달하여 매우 접근성이 좋은 도시이다. 
            오산시는 전통적인 문화와 자연을 보존하면서도 빠르게 발전하는 산업 도시로, 다양한 공장과 산업단지가 밀집해 있다. 
            또한, 오산호수공원과 같은 자연경관도 즐길 수 있는 매력적인 장소이다.
        </p>
    </div>

    <div class="info-block">
        <h2>오산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>오산호수공원</li>
                <li>오산시립도서관</li>
                <li>오산문화예술회관</li>
            </ul>
            <img src="/static/images/city/osan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>오산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>오산 순대국</li>
            <li>오산 갈비</li>
            <li>오산 떡볶이</li>
        </ul>
    </div>
</section>

</body>
</html>
