<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 파주</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>파주시</h2>
        <p>북한과 접해있는 접경도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/paju-image.png" class="highlight-image">
            <div class="image-description">
                파주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/paju-character.png" class="highlight-image">
            <div class="image-description">
                파주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/paju-slogan.png" class="highlight-image">
            <div class="image-description">
                파주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>파주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            경기도 북서부에 위치한 시. 북쪽·서쪽으로는 북한의 장풍군·개성시, 남서쪽으로는 한강을 경계로 김포시, 동쪽으로 양주시와 연천군, 남쪽으로 고양시와 접하고 있다. 면적은 서울특별시보다 
            크고 경기도에서 6위며, 전국에서는 60위다. 2010년대부터 운정신도시가 개발되면서 인구가 많이 늘어나고 있다. 북한과 접해있는 접경도시이며 파주출판도시, 판문점, 임진각국민관광지, 
            경의선, 1번 국도, 헤이리 예술마을, 프로방스 마을, 오두산통일전망대 등 볼거리가 많다. 과거엔 농촌, 최전방 군사도시라는 이미지가 컸지만 2000년대 이후 헤이리 예술마을과 LG디스플레이 
            공장이 들어서면서 긍정적인 이미지도 생겼다. 경기도임에도 최전방지역이라는 특성 탓에 대부분의 면적이 군사보호구역으로 묶여 있어 개발이 정체된 곳이었으나 2000년대 이후에야 산업단지와 
            신도시가 세워지면서 급성장한 도시이다. 다만 현재도 군사보호구역으로 묶인 곳이 많아 주민들의 재산권 행사에 제한이 많아서 이에 대한 불만이 많다.
        </p>
    </div>

    <div class="info-block">
        <h2>파주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>오두산 통일전망대</li>
                <li>마장호수 출렁다리</li>
                <li>제3땅굴</li>
            </ul>
            <img src="/static/images/city/paju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>파주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>두부매운탕</li>
            <li>순두부찌개</li>
            <li>장단콩</li>
        </ul>
    </div>
</section>

</body>
</html>