<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 포천시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>포천시</h2>
        <p>경기도 북부에 위치한 자연이 아름다운 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/pocheon-image.png" class="highlight-image">
            <div class="image-description">
                포천시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/pocheon-character.png" class="highlight-image">
            <div class="image-description">
                포천시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/pocheon-slogan.png" class="highlight-image">
            <div class="image-description">
                포천시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>포천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            포천시는 경기도 북부에 위치한 도시로, 뛰어난 자연경관과 함께 다양한 관광지와 레저 활동이 가능한 도시로 알려져 있다. 
            특히 포천은 산과 계곡, 그리고 다양한 자연 자원 덕분에 많은 사람들이 자연을 즐기기 위해 방문한다.
        </p>
    </div>

    <div class="info-block">
        <h2>포천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>포천아트밸리</li>
                <li>백운계곡</li>
                <li>포천 한탄강</li>
            </ul>
            <img src="/static/images/city/pocheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>포천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>포천 산채비빔밥</li>
            <li>포천 한우</li>
            <li>포천 족발</li>
        </ul>
    </div>
</section>

</body>
</html>
