<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 포항</title>
    <link rel="stylesheet" href="regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>포항시</h2>
        <p>경상북도 유일의 대도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="image/city2/pohang-image.png" class="highlight-image">
            <div class="image-description">
                포항시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/pohang-character.png" class="highlight-image">
            <div class="image-description">
                포항시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="image/city2/pohang-slogan.png" class="highlight-image">
            <div class="image-description">
                포항시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>포항은 어떤 곳인가요?</h2>
        <hr>
        <p>
            경상북도 동남쪽 동해안에 면하여 있는 시. 동쪽으로는 동해와 맞닿아 있고, 서쪽으로는 영천시, 남쪽으로는 경주시, 북쪽으로는 청송군, 영덕군과 접해있다. 
            경상북도 동부의 중심 도시이자 경북 최대 도시이며 경북에서 유일하게 대도시 특례를 받고 있다. 포스코의 본사가 있는 곳이며, 식료품·섬유·금속 공업 등이 발달했다. 
            포도, 감, 부추 등 농산물도 풍부하며, 수산업, 어업도 발달해 있다. 특산물로 과메기가 전국적으로 유명하며 대한민국 해병대의 고향이라 할 수 있다. 
            해병대 제1사단의 주둔지이며, 해병대교육훈련단이 위치하고 있어 해병대에 지원한 남자는 모두 한 번은 거치게 되는 곳이기도 하다. 관광객이 아닌 외지인의 포항 방문 목적은 십중팔구 
            포항스틸러스, 포항제철고, 포철공고, 포항공대, 포스코, 해병대 입소 중 하나라고 해도 과언이 아니다.
        </p>
    </div>

    <div class="info-block">
        <h2>포항에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>호미곶 해맞이광장</li>
                <li>포스코 역사관</li>
                <li>포항 해상 스카이워크</li>
            </ul>
            <img src="image/city2/pohang-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>포항에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>물회</li>
            <li>모리국수</li>
            <li>구룡포 찐빵</li>
        </ul>
    </div>
</section>

</body>
</html>
