<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>삼척시 지역정보 페이지</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>삼척시</h2>
        <p>강원도의 동쪽에 위치한 아름다운 해안 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src=/static/images/city/samcheok-image.png" class="highlight-image">
            <div class="image-description">
                삼척시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/samcheok-character.png" class="highlight-image">
            <div class="image-description">
                삼척시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/samcheok-slogan.png" class="highlight-image">
            <div class="image-description">
                삼척시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>삼척은 어떤 곳인가요?</h2>
        <hr>
        <p>
            삼척시는 강원도의 동쪽 끝에 위치한 아름다운 해안 도시로, 청정 자연과 해변, 산악 관광으로 유명하다. 
            삼척의 동해안은 특히 경치가 아름다워 많은 관광객들이 찾는다. 또한, 다양한 문화유산과 역사적인 명소들도 많이 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>삼척에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>삼척 해수욕장</li>
                <li>삼척 고원</li>
                <li>미로 공원</li>
            </ul>
            <img src="/static/images/city/samcheok-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>삼척에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>삼척회</li>
            <li>홍게</li>
            <li>삼척물회</li>
        </ul>
    </div>
</section>

</body>
</html>
