<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="regionInfo.css" />
    <title>지역정보 페이지</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>서울특별시</h2>
        <p>대한민국의 수도이자 유일한 특별시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/seoul-image.png" class="highlight-image">
            <div class="image-description">
                서울특별시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/seoul-character.png" class="highlight-image">
            <div class="image-description">
                서울특별시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/seoul-slogan.png" class="highlight-image">
            <div class="image-description">
                서울특별시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>서울은 어떤 곳인가요?</h2>
        <hr>
        <p>
            서울특별시는 대한민국의 수도이자 문화·인문·정치·경제 중심지 역할을 하는 도시로, 
            경기도와 인천광역시까지 아우르는 수도권의 중심축 역할을 하고 있다. 대한민국에서 유일하게 특별시로 지정된 도시로서, 제1의 도시다. 
            2024년 기준으로 인구 수는 약 930만 명이다.
        </p>
    </div>

    <div class="info-block">
        <h2>서울에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>광화문</li>
                <li>남산타워</li>
                <li>ddp(동대문플라자)</li>
            </ul>
            <img src="image/city/seoul-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>서울에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>설렁탕</li>
            <li>신당동 떡볶이</li>
            <li>신림동 순대</li>
        </ul>
    </div>
</section>

</body>
</html>
