<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 시흥시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>시흥시</h2>
        <p>경기도 서남부의 자연과 산업이 조화로운 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/siheung-image.png" class="highlight-image">
            <div class="image-description">
                시흥시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/siheung-character.png" class="highlight-image">
            <div class="image-description">
                시흥시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/siheung-slogan.png" class="highlight-image">
            <div class="image-description">
                시흥시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>시흥은 어떤 곳인가요?</h2>
        <hr>
        <p>
            시흥시는 경기도 서남부에 위치한 도시로, 서울과 가까운 거리에 있으며, 수도권의 주요 산업 도시 중 하나로 발전해왔다. 
            시흥시는 인천과 경계를 접하고 있으며, 동쪽으로는 서울과 연결되는 교통망을 갖추고 있다. 
            또한, 자연경관과 어울리는 산업단지와 해양레저를 즐길 수 있는 도시로 알려져 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>시흥에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>시흥갯골공원</li>
                <li>시흥시청 앞 광장</li>
                <li>정왕동 해변</li>
            </ul>
            <img src="/static/images/city/siheung-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>시흥에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>시흥 물회</li>
            <li>정왕동 순대국</li>
            <li>시흥 갈비</li>
        </ul>
    </div>
</section>

</body>
</html>
