<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 순천</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>순천시</h2>
        <p>전라남도 동부의 중심 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/suncheon-image.png" class="highlight-image">
            <div class="image-description">
                순천시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/suncheon-character.png" class="highlight-image">
            <div class="image-description">
                순천시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/suncheon-slogan.png" class="highlight-image">
            <div class="image-description">
                순천시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>순천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            전라남도 동남부에 있는 시. 전라남도청 동부청사 소재지이자, 전라남도 최대도시다. 1995년 순천시와 승주군이 통합하여 도농복합시가 되었다. 
            전라도를 통틀어도 광주광역시, 전주시, 순천시 순으로 호남 제3의 도시다. 현재 전라남도 동부 지역의 행정, 교육, 교통의 중심지 역할을 하고 있고, 
            철도로는 전라선과 경전선이 지나간다. 여수시와 광양시사이에 끼어있기 때문에 이들 도시의 중심을 맡고있다. 전라남도 동부의 중심 도시이자 수부 도시, 소비 도시이자 교육 도시로서 
            주변의 여수시, 광양시, 고흥군, 구례군, 보성군 벌교읍, 경상남도 하동군, 경상남도 남해군의 주민들이 소비하는 돈에 의존하는 경향이 굉장히 크다. 
            사실상 순천시가 행정시설이 많은 것 또한 이러한 도시들 때문. 경상남도 서부의 중심이자 경남 서부청사가 있는 진주시와 성격이 매우 비슷하며 서로 거리도 가까운 편이고 자매도시이다.
        </p>
    </div>

    <div class="info-block">
        <h2>순천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>순천만 국가정원</li>
                <li>순천 낙안읍성</li>
                <li>조례호수공원</li>
            </ul>
            <img src="/static/images/city/suncheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>순천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>석이버섯</li>
            <li>산나물비빔밥</li>
            <li>미나리삼겹살</li>
        </ul>
    </div>
</section>

</body>
</html>