<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 의정부</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>의정부시</h2>
        <p>경기북부의 지리적, 문화적, 군사적, 정치적 중심도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/uijeongbu-image.png" class="highlight-image">
            <div class="image-description">
                의정부시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/uijeongbu-character.png" class="highlight-image">
            <div class="image-description">
                의정부시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/uijeongbu-slogan.png" class="highlight-image">
            <div class="image-description">
                의정부시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>의정부는 어떤 곳인가요?</h2>
        <hr>
        <p>
            이름의 유래는 조선 시대 행정부의 명칭인 의정부(관청)이다. 각 관공서에 물자를 공급하도록 정해진 지방의 둔전(屯田)들 중 의정부의 예산을 담당하던 의정부둔(意情埠屯)이 지역의 명칭으로 
            정착되었다고 한다. 意情埠의정부는 대동여지도에서 議政府의정부와 구분하기 위해 음차된 표현이다. 야사(野史)에서는 태종이 재위하던 1403년, 태상왕이 된 태조 이성계가 함흥차사의 이야기를 
            끝내고 한양으로 환궁하다가 지금의 호원동인 전좌(殿座)마을에 머물렀기 때문에 조정의 대신들이 이 곳으로 찾아와 국정을 논의했다는 고사에서 "대신들이 모이는 곳 = 의정부"라는 도식으로 
            이 지명이 유래했다고 한다. 구 중앙로를 보행자거리로 조성한 행복로 초입에 이성계의 동상이 세워진 이유도 이 때문이다
        </p>
    </div>

    <div class="info-block">
        <h2>의정부에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>의정부 제일시장</li>
                <li>의정부 천문대</li>
                <li>안골계곡</li>
            </ul>
            <img src="/static/images/city/uijeongbu-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>의정부에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>부대찌개</li>
            <li>떡갈비</li>
            <li>감자탕</li>
        </ul>
    </div>
</section>

</body>
</html>