<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 의왕시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>의왕시</h2>
        <p>경기도의 중심에 위치한 자연과 도시가 조화를 이루는 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/uiwang-image.png" class="highlight-image">
            <div class="image-description">
                의왕시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/uiwang-character.png" class="highlight-image">
            <div class="image-description">
                의왕시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/uiwang-slogan.png" class="highlight-image">
            <div class="image-description">
                의왕시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>의왕은 어떤 곳인가요?</h2>
        <hr>
        <p>
            의왕시는 경기도 중부에 위치한 도시로, 자연과 도시가 조화를 이루는 곳으로 유명하다. 특히, 의왕시는 서울과 가까운 위치에 
            있어 교통이 편리하며, 자연 경관이 뛰어난 지역으로도 알려져 있다. 또한, 다양한 문화재와 관광명소를 보유하고 있어 많은 
            사람들이 방문하는 인기 있는 지역이다.
        </p>
    </div>

    <div class="info-block">
        <h2>의왕에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>왕송호수</li>
                <li>의왕도시공원</li>
                <li>백운호수</li>
            </ul>
            <img src="/static/images/city/uiwang-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>의왕에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>의왕 순대</li>
            <li>왕송호수 곰탕</li>
            <li>의왕 한정식</li>
        </ul>
    </div>
</section>

</body>
</html>
