<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
    <title>지역정보 페이지</title>
</head>
<body>

<section>
    <div class="info-block">
        <h2>울산광역시</h2>
        <p>제3의 항구도시이자 대한민국 최대의 공업도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/ulsan-image.png" class="highlight-image">
            <div class="image-description">
                울산광역시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/ulsan-character.png" class="highlight-image">
            <div class="image-description">
                울산광역시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/ulsan-slogan.png" class="highlight-image">
            <div class="image-description">
                울산광역시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>울산은 어떤 곳인가요?</h2>
        <hr>
        <p>
            울산광역시는 대한민국 남동부에 있는 광역시이다. 서쪽으로 경상남도 밀양시, 양산시, 경상북도 청도군, 북쪽으로 경상북도 경주시, 남쪽으로 부산광역시 기장군과 접한다. 
            태화강이 울산광역시를 통과하여 동해로 흐르며, 동해안에 울산항과 방어진항, 온산항이 위치한다.
            HD현대중공업, 현대미포조선 등의 대기업 본사들과 현대자동차, 현대모비스, 현대제철, 한화솔루션, 롯데케미칼, SK이노베이션, S-OIL, LG화학, LG생활건강, LS MnM, 금호석유화학 등의 
            대기업들이 있고, 한국석유공사, 한국에너지공단, 에너지경제연구원, 한국동서발전, 한국산업인력공단, 근로복지공단, 안전보건공단, 온산공업단지(온산공단) 등 공기업이 있으며, 
            자동차·조선 및 석유화학 공업이 발달해 있다.
            2014년 기준 1인당 GRDP 6,110만원으로 전국에서 가장 높으며 대한민국 최대의 공업수도이자 공업도시이다.
        </p>
    </div>

    <div class="info-block">
        <h2>울산에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>장생포 고래문화마을</li>
                <li>태화강 국가공원</li>
                <li>울주 대곡리 반구대 암각화</li>
            </ul>
            <img src="/static/images/city/ulsan-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>울산에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>언양식 불고기</li>
            <li>고래고기</li>
            <li>고래빵</li>
        </ul>
    </div>
</section>

</body>
</html>
