<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 원주시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>원주시</h2>
        <p>강원도의 중앙에 위치한 자연과 문화가 어우러진 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/wonju-image.png" class="highlight-image">
            <div class="image-description">
                원주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/wonju-character.png" class="highlight-image">
            <div class="image-description">
                원주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/wonju-slogan.png" class="highlight-image">
            <div class="image-description">
                원주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>원주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            원주시는 강원도의 중앙에 위치한 도시로, 아름다운 자연경관과 다양한 문화유산으로 유명하다. 
            특히 산과 강, 그리고 고즈넉한 분위기를 느낄 수 있는 곳으로 많은 사람들이 찾는 명소가 많다.
            또한, 원주는 문화 예술의 도시로, 다양한 전통과 현대적 요소가 조화를 이루고 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>원주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>원주 백운계곡</li>
                <li>원주한지박물관</li>
                <li>중앙시장</li>
            </ul>
            <img src="/static/images/city/wonju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>원주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>원주 닭갈비</li>
            <li>원주 막국수</li>
            <li>원주 미숫가루</li>
        </ul>
    </div>
</section>

</body>
</html>
