<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>양양군 지역정보 페이지</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>양양군</h2>
        <p>강원도의 해안가와 산이 어우러진 자연의 보고</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/yangyang-image.png" class="highlight-image">
            <div class="image-description">
                양양군의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yangyang-character.png" class="highlight-image">
            <div class="image-description">
                양양군의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yangyang-slogan.png" class="highlight-image">
            <div class="image-description">
                양양군의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>양양은 어떤 곳인가요?</h2>
        <hr>
        <p>
            양양군은 강원도의 동해안에 위치한 자연이 아름다운 도시로, 아름다운 해변과 깨끗한 공기, 그리고 다양한 관광지가 유명하다. 
            특히, 설악산과 동해바다가 만나는 곳으로, 관광과 레저, 힐링을 즐기기에 적합한 지역이다. 
            또한, 양양은 전통적인 어촌 문화와 자연을 체험할 수 있는 특별한 장소이다.
        </p>
    </div>

    <div class="info-block">
        <h2>양양에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>양양 설악산</li>
                <li>양양 낙산사</li>
                <li>양양 하조대해수욕장</li>
            </ul>
            <img src="/static/images/city/yangyang-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>양양에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>양양 오징어</li>
            <li>양양 물회</li>
            <li>양양 생선구이</li>
        </ul>
    </div>
</section>

</body>
</html>
