<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>여주시 지역정보 페이지</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>여주시</h2>
        <p>경기도 남부에 위치한 역사와 자연이 어우러진 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/yeoju-image.png" class="highlight-image">
            <div class="image-description">
                여주시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yeoju-character.png" class="highlight-image">
            <div class="image-description">
                여주시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yeoju-slogan.png" class="highlight-image">
            <div class="image-description">
                여주시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>여주는 어떤 곳인가요?</h2>
        <hr>
        <p>
            여주시는 경기도 남부에 위치한 도시로, 역사적인 명소와 자연 경관이 뛰어난 곳이다. 
            특히 여주시는 한강과 가까워 풍부한 자연 자원과 함께 다양한 관광지와 문화 유산이 있다.
        </p>
    </div>

    <div class="info-block">
        <h2>여주에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>여주 세종대왕릉</li>
                <li>여주 나루터</li>
                <li>여주 여주천</li>
            </ul>
            <img src="/static/images/city/yeoju-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>여주에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>여주 한우</li>
            <li>여주 쌀밥</li>
            <li>여주 떡</li>
        </ul>
    </div>
</section>

</body>
</html>
