<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>연천군 지역정보 페이지</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />

</head>
<body>

<section>
    <div class="info-block">
        <h2>연천군</h2>
        <p>경기도 북부에 위치한 자연과 역사적인 명소가 많은 지역</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/yeoncheon-image.png" class="highlight-image">
            <div class="image-description">
                연천군의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yeoncheon-character.png" class="highlight-image">
            <div class="image-description">
                연천군의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yeoncheon-slogan.png" class="highlight-image">
            <div class="image-description">
                연천군의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>연천은 어떤 곳인가요?</h2>
        <hr>
        <p>
            연천군은 경기도 북부에 위치한 자연경관과 역사적 가치가 뛰어난 지역이다. 
            북한과 인접해 있으며, 많은 역사적인 유적지와 자연 명소들이 있어 여행지로 매우 인기 있다. 
            특히 연천은 캠핑, 낚시, 산책 등 자연을 즐기기에 좋은 곳이다.
        </p>
    </div>

    <div class="info-block">
        <h2>연천에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>연천 평화누리길</li>
                <li>임진각</li>
                <li>백마고지</li>
            </ul>
            <img src="/static/images/city/yeoncheon-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>연천에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>연천 메기매운탕</li>
            <li>연천 오리불고기</li>
            <li>연천 약초차</li>
        </ul>
    </div>
</section>

</body>
</html>
