<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 여수시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>여수시</h2>
        <p>경상도의 가장 큰 섬</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/yeosu-image.png" class="highlight-image">
            <div class="image-description">
                여수시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yeosu-character.png" class="highlight-image">
            <div class="image-description">
                여수시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yeosu-slogan.png" class="highlight-image">
            <div class="image-description">
                여수시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>여수는 어떤 곳인가요?</h2>
        <hr>
        <p>
            전라남도 2위인 268,522명의 인구와 전남 GDP의 50% 가량을 만들어내며 전라남도 수출액의 74.4%를 담당하고 1,316만 명의 관광객이 방문하는 등, 전남의 핵심적인 도시다. 
            한려해상, 다도해해상국립공원 두 국립공원 모두 여수시 지역을 포함하고 있으며, 이 중 한려해상의 려가 여수시를 의미한다. 여수시는 여수엑스포 직후인 2010년대부터 도시의 모습이나 
            위상이 급격하게 변화했다. 별 볼일없는 시골이었던 돌산이 최고급 펜션들로 가득차고 헤엄쳐도 갈 거리지만 다리가 없던 경도엔 2조원짜리 리조트가 들어왔으며 구도심이던 대교동 인근이 
            관광 지역으로 급부상했다. 특히 여수의 강남이라는 웅천지구의 변화는 그 축을 같이한다. 따라서 여수시에 대해 이해하고 싶은 사람은 2010년대를 기준으로 구분해서 찾아보는 것이 
            도움이 된다.

        </p>
    </div>

    <div class="info-block">
        <h2>여수에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>여수엑스포 해양공원</li>
                <li>돌산공원</li>
                <li>여수 해상케이블카</li>
            </ul>
            <img src="/static/images/city/yeosu-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>여수에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>갓김치</li>
            <li>간장게장</li>
            <li>해물탕</li>
        </ul>
    </div>
</section>

</body>
</html>