<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>지역정보 페이지 - 용인시</title>
    <link rel="stylesheet" href="/static/css/regionInfo.css" />
</head>
<body>

<section>
    <div class="info-block">
        <h2>용인시</h2>
        <p>급격한 성장을 이룩한 도시</p>
    </div>

    <div class="highlight-box">
        <div class="image-container">
            <img src="/static/images/city/yongin-image.png" class="highlight-image">
            <div class="image-description">
                용인시의 상징 이미지
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yongin-character.png" class="highlight-image">
            <div class="image-description">
                용인시의 상징 캐릭터
            </div>
        </div>
        <div class="image-container">
            <img src="/static/images/city/yongin-slogan.png" class="highlight-image">
            <div class="image-description">
                용인시의 슬로건
            </div>
        </div>
    </div>

    <div class="info-block">
        <h2>용인은 어떤 곳인가요?</h2>
        <hr>
        <p>
            21세기 대한민국에서 가장 급격하게 성장한 도시이자 급격하게 인구가 늘어난 도시다. 시로 승격되었던 1996년에는 인구 20만 명으로 도농복합시 승격 기준을 넘겼고, 
            2000년에는 용인시 인구가 38만 명 가량이었으니, 근 20년 사이에 3배가 불어난 셈이다. 그만큼 난개발과 그로 인한 부작용으로 몸살을 앓고 있다. 용인시는 유명한 관광지가 많은 관광도시다. 
            에버랜드, 캐리비안 베이, 호암미술관, 한국민속촌, 양지파인리조트, 용인자연휴양림 등 전국적으로 유명한 레저, 관광 시설들이 있다. 전국 지방자치단체 중에서도 관광객 1위를 기록했다. 
            하지만 에버랜드, 캐리비안 베이, 호암미술관, 한국민속촌이 유명한 탓에 다른 지역에서는 에버랜드, 캐리비안 베이, 호암미술관, 삼성전자(기흥), 한국민속촌만 있는 동네로 아는 경우가 많다.

        </p>
    </div>

    <div class="info-block">
        <h2>용인에서 가볼만한 곳</h2>
        <hr>
        <div class="places-container">
            <ul>
                <li>에버랜드</li>
                <li>호암미술관</li>
                <li>한국민속촌</li>
            </ul>
            <img src="/static/images/city/yongin-best.png" class="places-image">
        </div>
    </div>

    <div class="info-block">
        <h2>용인에서 꼭 먹어야 하는 것</h2>
        <hr>
        <ul>
            <li>백암순대</li>
            <li>청둥오리쌀</li>
            <li>팽이버섯</li>
        </ul>
    </div>
</section>

</body>
</html>