<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>KO-Map</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/d3.js"></script>
  </head>
  <body>
    <div class="background-container">
      <div class="background-image"></div>
      <div class="dark-overlay"></div>
    </div>

    <div class="container">
      <!-- 네비게이션 바 -->
      <nav class="nav-bar">
        <div class="logo">
          <img src="/static/images/KO-Map.png" alt="KO-Map 로고" />
        </div>
        <div class="nav-items">
          <div class="nav-item-container">
            <button class="nav-item" id="regionInfoNav">지역 정보</button>
            <div class="nav-description">
              지도를 눌러 각 지역들의 정보를 확인할 수 있어요.
            </div>
          </div>
          <div class="nav-item-container">
            <button class="nav-item" id="searchNav">지역 검색</button>
            <div class="nav-description">
              지역의 이름으로 원하는 지역을 검색할 수 있어요.
            </div>
          </div>
          <div class="nav-item-container">
            <button class="nav-item" id="rouletteNav" onclick="location.href='/roulette'">
              랜덤 여행
            </button>
            <div class="nav-description">
              룰렛이 랜덤으로 여행지역을 정해드려요.
            </div>
          </div>
          <!-- 여행지 추천 버튼 추가 -->
          <div class="nav-item-container">
            <button
              class="nav-item"
              id="recommendationNav"
              onclick="location.href='random.html'"
            >
              여행지 추천
            </button>
            <div class="nav-description">
              여행지를 추천해드려요.
            </div>
          </div>
          <div class="nav-item-container">
            <button class="nav-item" id="postNav" onclick="location.href='/post'">
              여행 경험 공유
            </button>
            <div class="nav-description">
              다른 이용자와 여행 경험을 공유할 수 있어요.
            </div>
        </div>
      </div>
      </nav>
      <!-- 문구 영역 -->
      <div class="quote-container">
        <p id="quote" class="quote"></p>
      </div>

      <!-- 검색 영역 -->
      <div class="search-area" id="searchArea">
        <div class="search-box">
          <input type="text" placeholder="원하는 지역을 입력하세요" />
          <button class="search-button">검색</button>
        </div>
      </div>

      <!-- 지도 영역 -->
      <div class="map-container">
        <div class="dg-map dg-map-in" id="svg-container"></div>
      </div>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
