<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>KO-Map 여행지 슬롯머신</title>
    <link rel="stylesheet" href="/static/css/roulette.css" />
  </head>
  <body>
    <div class="content-container">
      <nav class="nav-bar">
        <div class="logo">
          <img src="/static/images/KO-Map.png" alt="KO-Map 로고" />
        </div>
        <div class="nav-items">
          <div class="nav-item-container">
            <button class="nav-item" id="mainPageNav" onclick="location.href='/'">메인 페이지</button>
            <div class="nav-description">
              메인 페이지로 이동해요.
            </div>
          </div>
          <div class="nav-item-container">
            <button
              class="nav-item"
              id="recommendationNav"
              onclick="location.href='/random'"
            >
              여행지 추천
            </button>
            <div class="nav-description">
              여행지를 추천해드려요.
            </div>
          </div>
          <div class="nav-item-container">
            <button class="nav-item" id="postNav" onclick="location.href='/post'">
              여행 경험 공유
            </button>
            <div class="nav-description">
              다른 이용자와 여행 경험을 공유할 수 있어요.
            </div>
          </div>
        </div>
      </nav>
      <div class="title-box">
          <h1>랜덤 여행 추천 슬롯머신</h1>
      </div>
      <div class="slot-container">
          <img src="/static/images/roof.png" alt="Slot Machine Image" class="slot-roof">
              <div class="slot-machine">
                  <div class="reel" id="reel">
                      <!-- 여행지 항목 -->
                  </div>
              </div>
          <img src="/static/images/floor.png" alt="Slot Machine Image" class="slot-floor">
      </div>
      <div class="buttons-container">
          <button id="spin-button" onclick="startSpin()">돌리기</button>
          <button id="stop-button" onclick="stopSpin()" disabled>스탑</button>
          <br>
      </div>
      <button id="region-link" onclick="goToRegionPage()">이 지역으로 이동</button>
      <script src="/static/js/roulette.js"></script>
    </div>
  </body>
</html>
